// Main
$bg-main:           #FFFFFF;

// Links
$anchor:            #252839;
$anchor-hover:      #7E7E7C;
$anchor-visited:    #B9BBBB;

// Text
$base-text-color:   #252839;
$base-text-mid:     #7E7E7C;
$base-text-light:   #B9BBBB;