// Main
$bg-main:           #FFFFFF;

// Links
$anchor:            #252839;
$anchor-hover:      #466bbc;
$anchor-visited:    #7892cf;

// Text
$base-text-color:   #252839;
$base-text-mid:     #394f78;
$base-text-light:   #3e5078;