// Main
$bg-main:           #000000;

// Links
$anchor:            #BBBBBB;
$anchor-hover:      #D4D4D4;
$anchor-visited:    #FAFAFA;

// Text
$base-text-color:   #FFFFFF;
$base-text-mid:     #F9F9F9;
$base-text-dark:    #f3f3f3;